img {
    min-width: 50vw;
    max-width: 50vw;
    min-height: 30vw;
    max-height: 50vw;
    border: 1px solid black;
    margin: 10px;
}

.event-title {
    font-size: 4vw;
    font-weight: bolder;
    font-family: 'Roboto Mono', monospace;
    font-family: 'PT Sans Narrow', sans-serif;
}

.upcoming-container, .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.date {
    font-size: 4vw;
    font-family: 'Roboto Mono', monospace;
    font-family: 'PT Sans Narrow', sans-serif;
}